<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url(https://www.sgs.com/-/media/global/images/structural-website-images/newsletter-images/safeguards-images/safeguards-toys-344x229-en-17-v1.jpg?la=en);
        }
        .container{
            margin-top: 50px;
            margin-left: 180px;
            margin-right: 180px;
            border-style: hidden;
            background-color: blanchedalmond;
        }
        .main{
            margin-top: 20px;
            margin-left: 30px;
            margin-bottom: 30px;
        }
        h1{
            color : black;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 40px;
        }
        table{
            margin-left: auto;
            margin-right: auto;
            font-family: 'Times New Roman', Times, serif;
            width: 60%;
            text-align: center;
        }

    </style>
</head>
<div class = "container">
    <div class = "main">
<body>
    <br><br>
    <h1>Toy App</h1>
    <button><a href="/new">New Product</a></button>
    <br>
    <form action="/search" method="post"> <br>
        Searchbar <input type="text" name="txtSearch">
        <input type="submit" value="Search">
    </form>
    <br><br>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        {{#each model}}
        <tr>
            <td>{{productName}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
            <td><button><a href="/delete?pid={{_id}}">Delete</a></button></td>
            <td><button><a href="edit?pid={{_id}}">Update</a></button></td>
        </tr>
        {{/each}}
    </table>
    <br><br><br>
</body>
</div>
</div>
</html>